@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// variables

$title-color: #fff;
$label-color: #fff;

$link: lighten($blue, 10);
$link-visited: lighten($blue, 10);
$link-hover: lighten($blue, 20);
$link-active: invert(lighten($blue, 20));

$content-heading-color: #fff;

a {
  transition: all .25s;
}

@import '~bulma';

@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('../assets/fonts/league-gothic/League_Gothic-webfont.eot');
  src: url('../assets/fonts/league-gothic/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/league-gothic/League_Gothic-webfont.woff') format('woff'),
       url('../assets/fonts/league-gothic/League_Gothic-webfont.ttf') format('truetype'),
       url('../assets/fonts/league-gothic/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

html, body {
  background-color: #181818;
  color: #eee;
}

/* generic page title; i.e. not the homepage */

.site-title {
  display: block;
  color: #fff;
  text-align: center;
  text-shadow: 1px 1px 20px #000;
  font-size: 4rem;
  text-transform: uppercase;
  font-family: 'LeagueGothicRegular', Helvetica, Arial, san-serif;
}
.site-title a {color: #fff;}
.site-title a:hover {color: #efefef;}

hr.lightspeed {
    background-color: transparent;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(126,126,126,0.95), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(126,126,126,0.95), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(126,126,126,0.95), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(126,126,126,0.95), rgba(0,0,0,0));
    clear: both;
    max-width: 62.5rem;
    margin: 1.5rem auto;
  }

/* this is for the homepage */
.home-title {
  font-size: 8rem;
  text-transform: uppercase;
  font-family: 'LeagueGothicRegular', Helvetica, Arial, san-serif;
}

.description {
  font-size: 1.45rem;
  padding: 1rem;
  line-height: 2.5rem;
}

.long-description {
  font-size: 1.05rem;
  padding: .5rem;
  line-height: 2rem;
  p {
    margin-bottom: 1rem;
  }
}

.featured {
	width: 98%;
	margin: auto;
	float: left;
	position: relative;
	display:block;
}

.featured-image {
	max-width: 100%;
	border: 1px solid #181818;
}
.featured::before {
	display:block;
	content:'';
	position:absolute;
	width:100%;
	height:100%;
	box-shadow: inset 0px 0px 50px 20px rgba(24, 24, 24, 0.9);
}

.links {
  padding: 1rem;
}
.links ul {
	list-style: none;
	font-family: 'Raleway', sans-serif;
  margin: 0; padding: 0;
}
.links li {
	font-size: 1.75rem;
	font-weight: normal;
	letter-spacing: 2px;
	margin-bottom: .5rem;
	/*text-align: center;*/
}
.links li a {
	display: block;
}
.links .collection {
  margin-bottom: 2rem;
}

.words {
  list-style-type: none;
  padding: 0;
  margin: 0 0 2rem 0;
}
.words li {
  font-size: 1.3rem;
}

#top {
  position: relative;
  z-index: 1000;
}

/* animations */

@keyframes translateFadePrimary {
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes translateFadeCompass {
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}

.home-title {
  opacity: 0;
  transform: translateY(-10px);
  animation: .75s linear 0s 1 translateFadePrimary;
  animation-fill-mode: forwards;
}

.words li {
  opacity: 0;
  transform: translateY(-10px);
  animation: .75s linear 0.5s 1 translateFadePrimary;
  animation-fill-mode: forwards;
}
.words li:nth-child(1) {animation-delay: .5s;}
.words li:nth-child(2) {animation-delay: .65s;}
.words li:nth-child(3) {animation-delay: .80s;}
.words li:nth-child(4) {animation-delay: .95s;}
.words li:nth-child(5) {animation-delay: 1.1s;}

.compass a {
  opacity: 0;
  animation: .75s linear 0.5s 1 translateFadeCompass;
  animation-fill-mode: forwards;
}

.compass a:nth-child(1),
.compass a:nth-child(2) {
  transform: translateX(-15px);
  animation-delay: 1.30s;
}
.compass a:nth-child(3),
.compass a:nth-child(4) {
  transform: translateX(15px);
  animation-delay: 1.30s;
}

/* color tweaks for buttons */

.compass .button {
  border-color: transparent;
  color: #ddd;
  background-color: rgba(0,0,0,.5);
  transition: .35s all;
  border-radius: 2px;
  margin: 0 0 1rem;
  padding: .85em 1em;
}
.compass .button:hover,
.compass .button:focus {
  border-color: #d3d3d3;
}

.compass .spaced {
  margin-left: 0.50rem;
}

.resume .button {
  background-color: transparent;
  color: #ccc;
  margin-right: 1rem;
  transition: border-color .5s, color .5s 1s;
  &:hover {
    border-color: #3f82af;
    color: #fff;
  }
}

.button.outline {
  background-color: transparent;
  color: #ccc;
  margin-right: 1rem;
  transition: border-color .5s, color .5s 1s;
  &:hover {
    border-color: #3f82af;
    color: #fff;
  }
}

code {
  color: #ebebeb;
  background-color: #565656;
  border: 0;
}

/* page */

.page-title {
  font-size: 3.5rem;
  font-family: 'LeagueGothicRegular', Helvetica, Arial, san-serif;
  text-align: center;
}

/* bulma content */
.content li p:not(:last-child) {
  margin-bottom: 0;
}

/* resume page */

.resume-content {
  padding: 1rem;
}

/* work-log */
.work-log.page-header {
  margin-bottom: 3rem;
}

.work-log.title.month {
  margin-bottom: 0;
}
.work-log.title.date {
  font-size: .9rem;
  color: #ccc;
  margin-bottom: 1rem;
}

.work-log.entries {
  padding-left: 1rem;
}
.work-log.entry {
  margin-bottom: 1rem;
}

.work-log.render-content {
  font-size: 0.95rem;
  margin-bottom: 1rem;

  ul {
    list-style: disc;
  }
  ul li {
    margin-left: 1rem;
    
  }
  ul li ul {
    list-style: circle;
  }
  ul li ul li {
    margin-left: 2rem;
  }
}

.work-log.topic-tags {
  text-align: right;
}
.work-log.topic-tag {
  font-family: sans-serif;
  font-size: 0.65rem;
  padding: 0.5rem;
  margin-right: 0.25rem;
  background-color: transparent;
  border: 1px solid transparent;
  border-bottom-color: #555;
  color: #efefef;
  cursor: pointer;
  transition: all 0.33s;
}
.work-log.topic-tag:hover {
  border: 1px solid #ccc;
}

/* footer */

.universe-footer {
  font-size: .9rem;
  color: #999;
}
.footer-content {
  padding: 5%;
}

/* media queries */

/* Small only */
@media screen and (max-width: 39.9375em) {

  .home-title {
    font-size: 4rem;
  }

  .site-title {
    font-size: 3.5rem;
  }

  .page-title {
    font-size: 3rem;
  }
}

/* Medium and up */
@media screen and (min-width: 40em) {}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {}

/* Large and up */
@media screen and (min-width: 64em) {}

/* Large only */
@media screen and (min-width: 64em) and (max-width: 90em) {}

/* canvas for the homepage */

#ribbon {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    pointer-events: none;
}
